.all-groups-single-group:hover {
    cursor: pointer;
}

.all-groups-single-group {
    border-top: 3px solid black;
    padding: 30%, 30%, 30%, 30%;
}

.single-group-grid-setup {
    display: grid;
    grid-auto-columns: 1fl 3fl;
}
