.mini-event-date {
    display: flex;
    color: darkgray;
}

.mini-event-image {
    width: 160px;
    height: 160px;
    border-radius: 15px;
    margin-left: 10px;
    object-fit: cover;
}

.mini-event-title {
    margin: 10px 0px 10px 0px;
}

.mini-event-item-top-half {
    display: flex;
}

.mini-event-item-container-box {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: black;
    background-color: white;

    width: 100%;
    padding: 20px 20px 20px 0;

    border-radius: 20px;
    margin-bottom: 15px;
}

.mini-event-top-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.mini-events-single-event:hover {
    cursor: pointer;
}

.mini-event-grid-setup {
    display: grid;
    grid-template-columns: 33% 67%;
    text-decoration: none;
    color: black;
}

.mini-event-image {
    width: 200px;
    height: 150px;
    object-fit: scale-down;
}

.mini-event-single-event-container {
    margin: 10px 0px 10px 0px;
    list-style: none;
}

.mini-event-text {
    text-decoration: none;
    border: none;
}

.mini-event-location {
    color: darkgray;
    margin: 0px 0px 12px 0px;
}

.mini-event-about {
    height: 50px;
}

.mini-event-name {
    font-size: 32px;
}

.all-events-single-event {
    display: flex;
    flex-direction: column;

}
