.landing-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing-div-one {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 15px 10% 15px 10%;
}

.landing-div-one-texts {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 15px 10% 15px 10%;
}

.landing-div-one-image {
    display: flex;
    align-items: center;
    width: 45%;
}

.landing-div-two {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.landing-div-two>p {
    text-align: center;
    font-size: 12px;
    padding: 0% 45% 0% 45%;
}

.landing-div-three {
    display: flex;
    width: 100%;
    padding: 15px 0 15px 0;
}

.landing-div-three-link {
    display: flex;
    flex-direction: column;
    padding: 5px 5% 5px 5%;
    align-items: center;
    width: 23%;
}

.landing-div-four {
    display: flex;
}

.landing-disabled {
    color: lightgray;
    font-size: 20px;
}

.landing-join-fleetup-button {
    margin: 15px 0px 15px 0px;
    width: 150px;
    align-self: center;
    background-color: darkblue;
    color: white;
    border: none;
    text-align: center;
    border-radius: 10px;
    padding: 8px 0% 8px 0%;
    list-style: none;
}

.landing-join-fleetup-button:hover {
    background-color: blue;
}

.landing-hover-link {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0 5px 0;
}

.landing-hover-link:hover {
    text-decoration: underline;
}

.landing-div-three-image {
    border-radius: 50%;
}
