.all-groups-events-link {
    color: gray;
    text-decoration: none;
    background-color: white;
}

.all-groups-events-link:hover {
    text-decoration: underline;
}

.all-groups-groups {
    color: teal;
    text-decoration: underline;
}

.all-groups-unordered-list-of-groups {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.all-groups-events-and-groups {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0px 0px 10px 0px;
}

.all-groups-headers {
    width: 100px;
}

.all-groups-external-div {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.all-groups-constraint {
    justify-content: left;
    display: flex;
    margin: 80px 0px 0px 20%;
}

.all-groups-single-group {
    border-top: 3px solid black;
    padding: 30%, 30%, 30%, 30%;
}

.all-groups-last-group {
    border-bottom: 3px solid black;
}
