.hidden {
    display: none;
}

.profile-dropdown>li>button:hover {
    cursor: pointer;
}

.navigation-container {
    width: 100%;
    position: flex;
    align-items: right;
    flex-direction: row;
}

.profile-dropdown {
    padding-inline-start: 0px;
    list-style-type: none;
}

.navigation-top {
    right: 0px;
    top: 0px;
    position: fixed;

}

.navigation-top-right {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 0 0 0;
}
