.group-breadcrumb {
    height: 20%;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.group-breadcrumb-spacer {
    height: 18%;
    display: flex;
}

.one-group-details-join-button {
    color: red;
}

.one-group-details-dg {
    color: darkgray;
}
